:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(212, 45%, 89%);
  --grayish-blue: hsl(220, 15%, 55%);
  --dark-blue: hsl(218, 44%, 22%);
  --blue: hsl(228, 45%, 44%);
  --viewport-height: calc(100vh - 16px);
}

body {
  font-family: 'Outfit', sans-serif;
  background-color: var(--light-gray);
  display: flex;
  justify-content: center;
  align-items: center;
  height: var(--viewport-height);
}

p {
  font-size: 0.9375em;
  font-weight: 400;
}

.container {
  background-color: var(--white);
  padding: 1.333em;
  border-radius: 1.334em;
  text-align: center;
  width: 25em;
  box-sizing: border-box;
}

.container img {
  display: block;
  margin: 0 auto;
  border-radius: 1.334em;
  max-width: calc(100% - 0.05em);
}

h2 {
  color: var(--dark-blue);
  font-weight: 700;
}

.attribution {
  font-size: 0.6875em; 
  text-align: center;
}

.attribution a { 
  color: var(--blue);
}